In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [14]:
data = pd.read_csv('real_estate.csv')
data.head()

,No,transaction_date,house_age,distance_from_stn,number_of_con_stores,latitude,longitude,house_price_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [6]:
data.describe()

,No,transaction_date,house_age,distance_from_stn,number_of_con_stores,latitude,longitude,house_price_unit_area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   No                     414 non-null    int64
 1   transaction_date       414 non-null    float64
 2   house_age              414 non-null    float64
 3   distance_from_stn      414 non-null    float64
 4   number_of_con_stores   414 non-null    int64
 5   latitude               414 non-null    float64
 6   longitude              414 non-null    float64
 7   house_price_unit_area  414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [10]:
X = data[['transaction_date','house_age','distance_from_stn','number_of_con_stores','latitude','longitude']]
X.head()

,transaction_date,house_age,distance_from_stn,number_of_con_stores,latitude,longitude
0,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2012.917,19.5,306.59470,9,24.98034,121.53951
2,2013.583,13.3,561.98450,5,24.98746,121.54391
3,2013.500,13.3,561.98450,5,24.98746,121.54391
4,2012.833,5.0,390.56840,5,24.97937,121.54245

In [13]:
y = data['house_price_unit_area']
y.head()

0    37.9
1    42.2
2    47.3
3    54.8
4    43.1
Name: house_price_unit_area, dtype: float64

In [31]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=2)

In [32]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [33]:
model.predict(X_test)

array([46.90032754, 41.33333746, 31.63443266, 30.9728763 , 34.32392832,
       37.58619974, 37.7545668 , 29.76797346, 46.90444217, 54.58840562,
       45.04220545, 34.33326269, 44.43047516, 54.70152971, 51.5018481 ,
       32.78878455, 41.9822407 , 35.74378068, 17.00475345, 26.09205462,
       41.01762376,  9.17782594, 42.76808013, 40.82281629, 28.1099754 ,
       31.36894653, 26.63964863, 49.6273086 , 24.46968976, 45.50842801,
       54.9279369 , 42.57110486, 40.30049236, 47.58115711, 32.96620754,
       28.50579159, 48.97330185, 32.24417934, 32.1059313 , 24.00519432,
       31.80709953, 27.98948992])

In [34]:
model.score(X_test,y_test)

0.6861910987973106